.user_container {
  width: 738px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .portfolio_container {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  .resume_container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
}
