.work_experience_container {
  padding: 24px;
  display: flex;
  gap: 16px;
  background: #fafafa;
  border-radius: 16px;
  border: 1px solid #f4f4f5;
  .logo {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
  }
  .work_experience_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .work_experince_info_basic {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .position {
        font-size: 20;
        line-height: 28px;
        font-weight: 600;
        color: #181818;
      }
      .address_company_and_tenure {
        display: flex;
        justify-content: space-between;
        .address_company {
          display: flex;
          gap: 8px;
          p {
            font-size: 16px;
            line-height: 24px;
            color: #181818;
          }
          .project_info_divider_container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .project_info_divider {
              position: absolute;
              height: 4px;
              width: 4px;
              background: #71717a;
              border-radius: 50%;
            }
          }
        }
        .tenure {
          font-size: 16px;
          line-height: 24px;
          color: #181818;
          font-weight: 600;
        }
      }
    }
    .description {
      font-size: 16px;
      line-height: 24px;
      color: #71717a;
    }
    .responsibilities_container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .title {
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        font-weight: 600;
      }
      .responsibilities {
        display: flex;
        flex-direction: column;
        gap: 4px;
        li {
          font-size: 16px;
          line-height: 24px;
          color: #71717a;
          list-style-type: disc;
        }
      }
    }
  }
}
