.form_navbar_wrapper {
  width: 264px;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 16px;
  align-self: flex-start;

  .form_navbar_container {
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    li {
      position: relative;
      cursor: pointer;
      height: 48px;
      display: flex;
      gap: 12px;
      font-size: 16px;
      font-weight: 600;
      padding: 12px 0;
      align-items: center;
      color: #a1a1aa;

      .active_bar {
        position: absolute;
        height: 35px;
        width: 10px;
        background: #1e1e1e;
        left: -29px;
        border-radius: 8px;
      }
    }
  }
}
