.badge_container {
  padding: 2px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  .text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  &.secondary {
    background: #e0f2fe;
    color: #5892b2;
  }
  &.accent-1 {
    background: #bef264;
    color: #60783b;
  }
}
